<nav id="navbar-main-nav" class="navbar">
    <div class="row">
        <a class="toggle" gumby-trigger="#navbar-main-nav #main-nav" href="#">
            <i class="icon-menu"></i>
        </a>
        <h1 class="two columns logo">
            <a href="/">
                <img src="http://reportserver.datenwerke.net/media/web/images/logoback.png" gumby-retina="">
            </a>
        </h1>
        <nav class="nine columns pull_right">
            <ul id="main-nav">
                <li><a href="@org.spend.reportserver.integration.controller.routes.WelcomeController.page()">Home</a></li>
            </ul>
        </nav>
    </div>
</nav>